<ons-page class="page-common" ng-controller="SettingPasswordCtrl as settingPassword">
	<ons-row style="margin-top:40px;">
		<ons-col class="grid_left" align="left" width="10%" style="line-height:33px">
			<ons-icon icon="ion-compose" size="22px" style="color:#4d4d4d;" vertical-align="top"></ons-icon>
		</ons-col>				
		<ons-col class="grid_left_half grid_right" width="90%" align="left">
			<ons-input type="password" id="currentEmailInput" modifier="material" placeholder="password" style="width:100%;" float></ons-input>
		</ons-col>				
	</ons-row>
	<ons-row style="margin-top:40px;">
		<ons-col class="grid_left" align="left" width="10%" style="line-height:33px">
			<ons-icon icon="ion-compose" size="22px" style="color:#4d4d4d;" vertical-align="top"></ons-icon>
		</ons-col>				
		<ons-col class="grid_left_half grid_right" width="90%" align="left">
			<span style="font-size:10px"><ons-input type="password" id="newEmailInput" modifier="material" placeholder="new password" style="width:100%;" float></ons-input></span>
		</ons-col>				
	</ons-row>
	<ons-row style="margin-top:40px;">
		<ons-col class="grid_left" align="left" width="10%" style="line-height:33px">
			<ons-icon icon="ion-compose" size="22px" style="color:#4d4d4d;" vertical-align="top"></ons-icon>
		</ons-col>				
		<ons-col class="grid_left_half grid_right" width="90%" align="left">
			<ons-input type="password" id="verifyEmailInput" modifier="material" placeholder="verify new password" style="width:100%;" float></ons-input>
		</ons-col>				
	</ons-row>
	<ons-bottom-toolbar class="bottom-toolbar-common">
		<ons-row style="line-height:40px;">
			<ons-col width="50%">
			</ons-col>
			<ons-col width="30%" align="center" vertical-align="center" ng-click="settingPassword.popSettingPassword()">
				<ons-icon icon="ion-chevron-left" size="20px" style="color:#999"></ons-icon>
			</ons-col>
			<ons-col width="20%" vertical-align="center" ng-click="settingPassword.modifyPassword()">
				<ons-icon icon="ion-checkmark" size="24px" style="color:#16A6B6"></ons-icon>
			</ons-col>
		</ons-row>
	</ons-bottom-toolbar>
</ons-page>